[Unit]
Description=Tortuga Server

[Service]
Type=simple
ExecStart=/etc/init.d/tortuga-server start
ExecStop=/etc/init.d/tortuga-server stop
User=root
Group=root
Restart=on-failure

[Install]
WantedBy=multi-user.target
